.loginField{
	margin-bottom: 10px;

}
.login-wrapper{
	text-align: left;
	display: inline-block;
	box-shadow: 0 0 30px #ccc;
}
.loginform{
text-align: center;

}

.header-title{
    margin: 20px;
}
.title-name{
    font-size: 35px;
}
.filter-form input[type=text],.filter-form select{
    margin-left: 8px;
    margin-right: 8px;
    font-size: 18px;
}